# Build artifacts.
dist
build
docs/build
*.egg-info

# Test state files.
*.pyc
.tox
.coverage
.cache
coverage.xml
nosetests.xml
cover
.coverage
__pycache__

# Common virtualenv names.
venv
env
env2
env3

# Files running bf command could create.
*.pem
