.DS_Store
*.pyc
__pycache__
dist
build
docs/build
tests/cover
tests/.coverage
*.egg-info

# Test state / virtualenvs
.tox
.coverage
.cache
coverage.xml
nosetests.xml

# Common virtualenv names
venv
env
env2
env3
